<section id="hero">

 <div class="row">

   <div class="twelve columns">

     <div class="hero-text">
       <h1 class="responsive-headline">League : <%= @league.title %></h1>
       <h2 class="responsive-headline"><%= @league.description %></h2>       
     </div>
     </br>

   </div>

 </div>

</section>
<section id="styles">
	<div class="row">
    <h2>Pass :</h2>
    <p><b><%= @league.pass %></b> - (This pass is required if people want to join your league, share it with your friends with caution !)</p>
    <hr>
		<h2>Member list :</h2>
		<% @users.each do |user| %>
      <%= user.username %>
      </br>
    <% end %>
    <hr>
    <%= link_to "Delete league".html_safe, @league, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
</section>
