<header>

  <div class="logo">
     <a class="smoothscroll" href="#hero"><img alt="" src="images/logo.png"></a>
  </div>

  <nav id="nav-wrap">         
     
     <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show Menu</a>
    <a class="mobile-btn" href="#" title="Hide navigation">Hide Menu</a>         

     <ul id="nav" class="nav">
        <li><a class="smoothscroll" href="./">Home</a></li>
        <li><a class="smoothscroll" href="./games">Games</a></li>
        <li><a class="smoothscroll" href="./ranking">Ranking</a></li>
     </ul> <!-- end #nav -->

  </nav> <!-- end #nav-wrap -->

  <ul class="header-social">
    <% if user_signed_in? %>
      Logged in as <strong><%= current_user.username %></strong>.
      <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
      <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
    <% end %>
  </ul>

</header>

<section id="hero">

 <div class="row">

   <div class="twelve columns">

     <div class="hero-text">
       <h1 class="responsive-headline">Games</h1>
     </div>
     </br>

   </div>

 </div>

</section>
<section id="styles">
  <% @games.each do |game| %>
  <div class="row">
    <a href="./games/<%= game.id %>">
      <h2><%= game.e1 %> VS <%= game.e2 %></h2>
    </a>
    <p>
      <%= game.description %></br>
      Start time : <%= game.start %></br>
      <%= game.location %>
    </p>  
    <hr>
  </div>

  <% end %>
</section>
<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Description</th>
      <th>Pool</th>
      <th>E1</th>
      <th>E2</th>
      <th>S1</th>
      <th>S2</th>
      <th>start</th>
      <th>End</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.id %></td>
        <td><%= game.description %></td>
        <td><%= game.pool %></td>
        <td><%= game.e1 %></td>
        <td><%= game.e2 %></td>
        <td><%= game.s1 %></td>
        <td><%= game.s2 %></td>
        <td><%= game.start %></td>
        <td><%= game.end %></td>
        <td><%= game.location %></td>
        <td><%= link_to 'Show', game %></td>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_game_path %>
