<section id="hero">

 <div class="row">

   <div class="twelve columns">

     <div class="hero-text">
       <h1 class="responsive-headline"><%= @game.e1 %> VS <%= @game.e2 %></h1>
       <h2 class="responsive-headline"><%= @isPlayed %></h2>       
     </div>
     </br>

   </div>

 </div>

</section>
<section id="styles">
  <div class="row">
    <div class="row">
      <div class="gameFlags">
       <%=  image_tag "flags/"+@game.e1 %>
      </div>
      <div class="gameTitle">
      <h2><%= @game.e1 %> VS <%= @game.e2 %></h2>
      </div>
      <div class="gameFlags">
        <%= image_tag "flags/"+@game.e2 %>
      </div>
  </div>
  <div class="row">
    <div class="gameDesc">
    <p>
      <%= @game.description %></br>
      Start time : <%= @game.start %></br>
      <i class="fa fa-clock-o"></i>  <%= @game.location %>
    </p>  
    </div>

  </div>

    <hr>
  </div>
  <% if user_signed_in? %>
    <% if @betted==false %>
      <div class="row">
        <%= render "bets/form" %>
      </div>
    <% else %>
      <div class="row">
          <h3>Your bet :</h3>
          <h4><%= @game.e1 %> <%= @betDone.s1 %> VS <%= @betDone.s2 %><%= @game.e2 %> </h4>
          <%= link_to 'Edit your bet', edit_game_bet_path(@game.id, @betDone.id) %>
      </div>
    <% end %>
  <% else %>
    
  <% end %>
</section>