<section id="hero">

 <div class="row">

   <div class="twelve columns">

     <div class="hero-text">
       <h1 class="responsive-headline"><%= @game.e1 %> VS <%= @game.e2 %></h1>
       <p><%= @isPlayed %></p>       
     </div>
     </br>

   </div>

 </div>

</section>
<section id="styles">
  <div class="row games">
    <div class="row">
      <div class="gameFlags">
        <% if @game.e1!="TBC" %>
         <%=  image_tag "flags/"+@game.e1 %>
        <% else %>
          <i class="fa fa-question fa-5x"></i>
        <% end %>
      </div>
      <div class="gameTitle">
      <h2><%= @game.e1 %> VS <%= @game.e2 %></h2>
      <p>
        <%= @game.description %></br>
        <i class="fa fa-clock-o"></i>   - <%= @game.start %></br>
        <i class="fa fa-map-marker"></i>   <%= @game.location %>
      </p>
      </div>
      <div class="gameFlags">
      <% if @game.e2!="TBC" %>
        <%= image_tag "flags/"+@game.e2 %>
      <% else %>
        <i class="fa fa-question fa-5x"></i>
      <% end %>
      </div>
    </div> 
    <hr>
  </div>
  <% if user_signed_in? %>
    <div class="row gameBet">
    <% if @betted==false %>
      <%= render "bets/form" %>
    <% else %>  
      <h3>Your bet :</h3>
      <h4><%= @game.e1 %> <%= @betDone.s1 %> - <%= @betDone.s2 %> <%= @game.e2 %> </h4>
      <%= link_to 'Edit your bet', edit_game_bet_path(@game.id, @betDone.id), :class => 'button'%>
    <% end %>
    <hr>
    </div>
    <div class="row gameComments">
      <h2>Comments</h2>
      <% @game.comments.each do |comment| %>
        <p>
          <strong>Comment by <%= comment.user.username %> at <%= comment.created_at %> :</strong>
          <%= comment.body %>
        </p>
      <% end %>
      <h2>New comment:</h2>
      <%= form_for([@game, @game.comments.build]) do |f| %>
        <p>
          <%= f.text_area :body %>
        </p>
        <p>
          <%= f.submit %>
        </p>
      <% end %>
    </div>
  <% else %>
    
  <% end %>
</section>