<header>

  <div class="logo">
     <a class="smoothscroll" href="#hero"><img alt="" src="images/logo.png"></a>
  </div>

  <nav id="nav-wrap">         
     
    <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show Menu</a>
    <a class="mobile-btn" href="#" title="Hide navigation">Hide Menu</a>         

     <ul id="nav" class="nav">
        <li><a class="smoothscroll" href="./">Home</a></li>
        <li><a class="smoothscroll" href="./games">Games</a></li>
        <li><a class="smoothscroll" href="./ranking">Ranking</a></li>
     </ul> <!-- end #nav -->

  </nav> <!-- end #nav-wrap -->

  <ul class="header-social">
     <li><a href="#"><i class="fa fa-facebook"></i></a></li>
     <li><a href="#"><i class="fa fa-twitter"></i></a></li>
     <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
  </ul>

</header>

<section id="hero">

 <div class="row">

   <div class="twelve columns">

     <div class="hero-text">
       <h1 class="responsive-headline"><%= @game.e1 %> VS <%= @game.e2 %></h1>
       <h2 class="responsive-headline"><%= @isPlayed %></h2>       
     </div>
     </br>

   </div>

 </div>

</section>
<section id="styles">
  <div class="row">
    <h2><%= @game.e1 %> VS <%= @game.e2 %></h2>
    <p>
      <%= @game.description %></br>
      Start time : <%= @game.start %></br>
      At <%= @game.location %>
    </p>  
    <hr>
  </div>
  <% if user_signed_in? %>
    <%= render 'bets/form' %>
  <% else %>
    
  <% end %>
</section>
<p>
  <strong>Id:</strong>
  <%= @game.id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @game.description %>
</p>

<p>
  <strong>Pool:</strong>
  <%= @game.pool %>
</p>

<p>
  <strong>E1:</strong>
  <%= @game.e1 %>
</p>

<p>
  <strong>E2:</strong>
  <%= @game.e2 %>
</p>

<p>
  <strong>S1:</strong>
  <%= @game.s1 %>
</p>

<p>
  <strong>S2:</strong>
  <%= @game.s2 %>
</p>

<p>
  <strong>Start:</strong>
  <%= @game.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @game.end %>
</p>

<p>
  <strong>Location:</strong>
  <%= @game.location %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
