<section id="hero">
 <div class="row">
   <div class="twelve columns">
     <div class="hero-text">
       <h1 class="responsive-headline">Log In</h1>     
     </div>
     </br>
   </div>
 </div>
</section>
<section id="styles">
  <div class="row">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="left">
      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true %>
      </div>
    </div>

    <div class="left" id="field">
      <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "off" %>
      </div>
    </div>
  </div>

  

  <div class="row">
      <div class="left" id="field">
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      </div>

  <div class="left" style="margin-left:10%">
      <div class="actions">
        <%= f.submit "Log in" %>
      </div>
    </div>
  </div>



<% end %>
<div class="row">
<%= render "devise/shared/links" %>
</div>
</section>