<!DOCTYPE html>
<html>
<head>
  <title>RugBet</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<header>

  <div class="logo">
     <a class="smoothscroll" href="#hero"><img alt="" src="images/logo.png"></a>
  </div>

  <nav id="nav-wrap">         
     
    <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show Menu</a>
    <a class="mobile-btn" href="#" title="Hide navigation">Hide Menu</a>         

    <ul id="nav" class="nav">
      <li><a class="smoothscroll" href="/">Home</a></li>
      <li><a class="smoothscroll" href="/games">Games</a></li>
      <li><a class="smoothscroll" href="/ranking">Ranking</a></li>
      <li><a class="smoothscroll" href="/leagues">Leagues</a></li>
    </ul> <!-- end #nav -->

  </nav> <!-- end #nav-wrap -->

  <ul class="header-social">
    <% if user_signed_in? %>
      Logged in as <strong><%= current_user.username %></strong>.
      <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
      <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
    <% end %>
  </ul>

</header>
<body>

<%= yield %>
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</body>
</html>
